body {
	background: #ffda75;
	font-family: "Wingdings", sarif;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

h2 {
	font-size: 15px;
	text-decoration: underline;
}

.home {
	background: linear-gradient(#5a4389, #3695af);
	background-size: 100%;
	background-attachment: fixed;
}

.something {
	background-image: url("../img/mountain.jpg");
	background-size: 100%;
	background-attachment: fixed;
}

.icon_display {
	background-image: url("../img/background_a.jpg");
	background-size: 100%;
	background-attachment: fixed;
}

.media_display {
	background-image: url("../img/sea.png");
	background-size: 100%;
	background-attachment: fixed;
}

.nav {
	width: 64%;
	margin-left: auto;
	margin-right: 20px;
}

.nav li {
	display: inline-block;
	color: purple;
	background-color: #70b7ff;
	font-size: 25px;
	letter-spacing: 5px;
	border-radius: 3%;
	box-shadow: 2px -2px 3px #bbb;
	padding: 5px 10px;
	opacity: 0.4;
}
.nav li:hover {
	color: orange;
	background-color: green;
}

#clock {
	font-family: "Orbitron", sarif;
	font-size: 12px;
	padding: 0px 5px;
	height: 5px;
/*	margin-top: 11px;*/
}

#myTextInput {
	font-family: "Orbitron", sarif;
	background-color: yellow;
	color: #666;
	opacity: 0.6;
}

#myButton {
	border-radius: 10px;
	color: #d188e3;
	background-color: purple;
	font-family: inherit;
}

main {
	color: #70b7ff;
	text-align: center;
	overflow: hidden;
}
.main_image {
	border: 5px solid #d188e3;
	width: 350px;
	height: 350px;
	margin: 50px 10px;
	border-radius: 50%;
	opacity: 0.5;
}
.main_image:hover {
	transform: rotate(315deg);
	border: 10px dotted orange;
	width: 340px;
	height: 340px;
	opacity: 0.7;
}

.front_text {
	letter-spacing: 5px;
}
.front_text:hover {
	transform: scale(1.5);
}

.tools li {
	display: inline-block;
	color: #666;
	padding: 5px 8px;
}

footer {
	text-align: center;
	background: #bbb;
	border-top: 5px solid white;
	width: 100%;
	height: 100%;
}

.social_media {
	text-align: center;
	margin-bottom: 0;
}
.social_media li {
	display: inline-block;
	width: 3em;
	margin: 0px 10px;
}

.date {
	color: #20246e;
	font-size: 10px;
	font-family: "Neutra Text", sarif;
}

.shelves {
	text-align: center;
	margin: 60px 10px;
}

.shelves li {
	display: inline-block;
	padding: 5px;
	background-color: #d1b3e3; 
	border: 5px dotted #70b7ff;
	border-radius: 50%;
	margin: 15px 0px;
	opacity: 0.8;
}

.icon {
	width: 100px;
}

.icon:hover {
	transform: rotate(-10deg);
}

#shelf {
	box-shadow: 1px 2px 4px #bbb;
	width: 440px;
	margin: auto;
	border-radius: 10px;
}


.media_player li {
	display: inline-block;
	margin: 0px;
}

.media_player img {
	opacity: 0.5;
	height: 250px;
	width: 250px;
}
.media_player img:hover {
	opacity: 0.75;
	height: 240px;
	width: 240px;
}

.video {
	padding: 0px;
	margin: 0px;
	opacity: 0.4;
	border: 5px dotted #d188e3;
}

#learning_sites {
	margin: 35px 5px;
}

#music_links li {
	display: inline-block;
	background-color: purple;
	border-radius: 10px;
	padding: 4px;
	border: 2px dotted white;
	opacity: 0.3;
}